body {
	font-family: 'Encode Sans'
}

.material-icons {
	vertical-align: middle;
}

.space {
	padding: 30px;
}

.search-container {
	background-image:
        url("https://images.unsplash.com/photo-1521913171996-c29a1809284c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1429&q=80");
        height: 40;
}

.search-font {
	color: #ffffff;
	font-size: 40px;
	font-weight: 300;
	text-align: left;
}