.home_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
    width: 50%;
  }


.welcome{
    text-align: center;
}

.details{
  text-align: center;
}

.material-icons{
	
	font-size: 50px;

}

.center{
  vertical-align: auto;
}

img{
  /* opacity: 0.5;
  filter: alpha(opacity=50); */
  border-radius: 10%;
  height: 400px;
  width:600px;
}

